<img src="https://i.ibb.co/qjt4Ymb/2022-09-19-004719.png" alt="2022-09-19-004719" border="0">

# Topic 03: Python quick tutorial

## Python & Colab 介紹
Python (https://www.python.org/) is a scripting language, which means that a single line of instructions can be executed.

Google Colab (https://colab.research.google.com/) provides the easiest way to write and execute the Python programming language. Each of the following code cells can be executed independently. For larger programs, the program can be executed across blocks.

Python is an easy-to-learn, powerful programming language. In this course, we will introduce the basic syntax of Python (variables, operations, process control and data structure), etc., so that students can use it as the basis for learning advanced data science or deep learning courses in the future.

Completing the first program is very simple. In all programming languages, the first program is called the Hello program. Python's Hello program is super simple, which is the following line:

```
print('Hello World')
```

In [ ]:
#把Hello World程式貼在這個下面，然後按左側的執行鍵或(Ctrl+Enter鍵)....
print('Hello World')

Hello World

在上面程式，我們使用了一個函數print()，print會合併其輸入的參數，然後，輸出一行的文字。

下面我們有各種Hello World程式的變型。大家可以觀察其不同。

## Python variables and operations 

![image](https://i.ibb.co/vQ5ngXy/IPO-1.png)

Python uses the input() function to read input data.

A single call to the input() function will input a string.
 
If we were to enter an integer or float. You can use the int() or float() functions函數

In [ ]:
instr = input('Please input your score：')
score = int(instr) #Integer
print(score) # print the value of the variable
print(type(score)) # print the type of the variable

Please input your score：88
88
<class 'int'>

Arithmetic Operators and Expressions
Arithmetic Operators
````
+ - * / #Add, subtract, multiply and divide
** #power
// #business
%  #remainder
````

In [ ]:
print(1 + 2)
print(3 - 4)
print(5 * 6)
print(12 / 5)

3
-1
30
2.4

In [ ]:
print(23 / 5)
print(23 // 5)
print(23 % 5)

4.6
4
3

In [ ]:
print(23 * 2)
print(23 ** 2)

46
529

## Atandard math library 
* Calculate pi and sin($\pi/3$) functions
* use import and as

In [ ]:
pi = 3.14159
sin(pi/3)

NameError: ignored

In [ ]:
import math
print(math.pi)
print(math.sin(math.pi/3))

3.141592653589793
0.8660254037844386

In [ ]:
import math as m
print(m.pi)
print(m.sin(m.pi/3))

3.141592653589793
0.8660254037844386

In [ ]:
import math as m
print(m.degrees((math.pi/3)))
print(m.radians(60))

59.99999999999999
1.0471975511965976

## Python basic data structure and simple flow control

![image](https://i.ibb.co/M1XgBz2/IPO-2.png)

There are three types of parentheses in the Python language,
The parentheses () represent the tuple data type, the square brackets [ ] represent the list data type, and the curly brackets { } represent the dictionary (dict) or set (set) data type. Here, we first introduce the most common data type series (List)…


<img src="https://i1.faceprep.in/Companies-1/lists-in-python.png" alt="img" border="0" width="500">

In [ ]:
student0 = 'John'; student1 = 'Mary'; student2 = 'Ken'
print('Hello', student0)
print('Hello', student1)
print('Hello', student2)

Hello John
Hello Mary
Hello Ken

In [ ]:
# positive   0    1    2
# negative  -3    -2   -1
students = ['John', 'Mary', 'Ken']
print('Hello', students[0])
print('Hello', students[1])
print('Hello', students[2])

Hello John
Hello Mary
Hello Ken

In [ ]:
print('Hello', students[-3])
print('Hello', students[-2])
print('Hello', students[-1])

Hello John
Hello Mary
Hello Ken

In [ ]:
students.append('Lily')
print(students)
print(len(students))

['John', 'Mary', 'Ken', 'Lily']
4

## String

* A string can be thought of as a list of characters that are concatenated together.
* Use + to connect strings
* Use split() to split the substring

In [ ]:
print('Hello '+'World!')
print("Hello", end=" ");  print("World!")

Hello World!
Hello World!

In [ ]:
# input 3 5 
paras = input().split()
a = int(paras[0])
b = int(paras[1])
print(a + b)

3 5
8

## For-loop
* use loop on list variable
* Use loop for range() function

<img src="https://i.ibb.co/fqwHZzr/forloop.jpg" alt="forloop" border="0">

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for number in numbers:
  print(number, end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
for number in range(1, 10, 1):
  print(number, end=' ')

1 2 3 4 5 6 7 8 9

## If condition statement
<img src="https://i.ibb.co/sv727Wq/if-condition.png" alt="alt text" width="500">

In [ ]:
print(True) 
print(False)

True
False

In [ ]:
bmi = float(input("Input yout bmi"))
if bmi>30.0:
  print("Obesity")

Input yout bmi40
Obesity

In [ ]:
bmi = float(input("Input yout bmi"))
if bmi>24.0:
  print("Overweight")
elif bmi<18.5:
  print("Underweight")
else:
  print("Healthy weight")

Input yout bmi22
Healthy weight

## String fotmatting
https://docs.python.org/3/tutorial/inputoutput.html

In [ ]:
a = 'John'
str2 = f'Hi, {a}'
print(str2)

Hi, John

In [ ]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
print(f'{yes_votes:9} YES votes {percentage:2.2%}')

 42572654 YES votes 49.67%

## Function definition and call

In [ ]:
a=240; b=96
r=a%b
while r!=0:
  a=b;b=r
  r=a%b
print(f"gcd={b}")

gcd=48

In [ ]:
def gcd(x, y):
  r=x%y
  while r!=0:
    x=y;y=r
    r=x%y
  return y

In [ ]:
a=240; b=96
print(f"{a}, {b}, {gcd(a,b)}")

240, 96, 48

## Exercise : print out the multiplication table
<img src="https://previews.123rf.com/images/in8finity/in8finity1408/in8finity140800033/30726191-multiplication-table-on-white-background.jpg" alt="img" border="0" width="500">

In [ ]:
# Using 2 layers of loops, print out the multiplication table of 99/print out the multiplication table
# start writing here

1 *1 =1   2 *1 =2   3 *1 =3   4 *1 =4   5 *1 =5
1 *2 =2   2 *2 =4   3 *2 =6   4 *2 =8   5 *2 =10
1 *3 =3   2 *3 =6   3 *3 =9   4 *3 =12  5 *3 =15
1 *4 =4   2 *4 =8   3 *4 =12  4 *4 =16  5 *4 =20
1 *5 =5   2 *5 =10  3 *5 =15  4 *5 =20  5 *5 =25
1 *6 =6   2 *6 =12  3 *6 =18  4 *6 =24  5 *6 =30
1 *7 =7   2 *7 =14  3 *7 =21  4 *7 =28  5 *7 =35
1 *8 =8   2 *8 =16  3 *8 =24  4 *8 =32  5 *8 =40
1 *9 =9   2 *9 =18  3 *9 =27  4 *9 =36  5 *9 =45
1 *10=10  2 *10=20  3 *10=30  4 *10=40  5 *10=50

6 *1 =6   7 *1 =7   8 *1 =8   9 *1 =9   10*1 =10
6 *2 =12  7 *2 =14  8 *2 =16  9 *2 =18  10*2 =20
6 *3 =18  7 *3 =21  8 *3 =24  9 *3 =27  10*3 =30
6 *4 =24  7 *4 =28  8 *4 =32  9 *4 =36  10*4 =40
6 *5 =30  7 *5 =35  8 *5 =40  9 *5 =45  10*5 =50
6 *6 =36  7 *6 =42  8 *6 =48  9 *6 =54  10*6 =60
6 *7 =42  7 *7 =49  8 *7 =56  9 *7 =63  10*7 =70
6 *8 =48  7 *8 =56  8 *8 =64  9 *8 =72  10*8 =80
6 *9 =54  7 *9 =63  8 *9 =72  9 *9 =81  10*9 =90
6 *10=60  7 *10=70  8 *10=80  9 *10=90  10*10=100