<img src="https://i.ibb.co/qjt4Ymb/2022-09-19-004719.png" alt="2022-09-19-004719" border="0">

# Topic 05: Pandas quick tutorial

Pandas Official website teaching reference materials: http://pandas.pydata.org/pandas-docs/stable/10min.html

Notebook Contents:

    - Object creation
    - Viewing data
    - Selection
        - Getting
        - Selection by label
        - Selection by position
        - Boolean indexing
        - Setting
    - Missing data
    - Operations
        - Stats
        - Apply
        - Histogramming
        - String methods
    - Merge
        - Concat
        - Append
    - Grouping
    - Reshaping
        - Pivot tables
    - Categoricals
    - Getting data in/out
        - CSV
        - HDF5
        - Excel

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Object creation

In [ ]:
# creating a Series by passing a list of values
squares = pd.Series([(x+1)**2 for x in range(10)])
squares

In [ ]:
# creating a data frame by passing a NumPy array and datetime index
dates = pd.date_range('2022.1.1', periods=365)
dates

In [ ]:
pd.date_range('2022', periods=365)

In [ ]:
dates

In [ ]:
df = pd.DataFrame(np.random.randn(365, 5), index=dates, columns=list('ABCDE'))

In [ ]:
df.head()

In [ ]:
# creating a data frame with heterogeneous columns
df = pd.DataFrame({'A': pd.Timestamp('20180607'),
                   'B': np.array([1, 2, 3]), 
                   'C': pd.Categorical(['Monday', 'Tuesday', 'Wednesday']), 
                   'D': 'foo'})
df.dtypes

### Viewing data

In [ ]:
# viewing the top and bottom rows of a data frame
dates = pd.date_range('20180101', periods=7)

df = pd.DataFrame(np.random.randn(7, 5), index=dates, columns=list('ABCDE'))

print('\ndf.head():\n', df.head(3))
print('\ndf.tail():\n', df.tail(3))

In [ ]:
# displaying the index, columns, and underlying NumPy data
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
# quick statistics summary of the data
df.describe()

In [ ]:
# the transpose of the data
df.T

In [ ]:
# sorting by axis
df.sort_index(axis=1, ascending=False)

In [ ]:
# sorting by values
df.sort_values(by='A')

### Selection

###### Getting

In [ ]:
# select an column
df['A']

In [ ]:
# select rows by slicing
df[0:3]

###### Selection by label

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:, ['A', 'B', 'C']] # select all rows, columns A, B, and C

In [ ]:
# select by row labels and column labels
df.loc['20180101':'20180105', ['A', 'B', 'C']]

In [ ]:
# fast access to a scalar value
df.at[dates[0], 'A']

###### Selection by position

In [ ]:
df.iloc[0:3, 0:3]

In [ ]:
# arbitrarily selecting by row and column indices
df.iloc[[0, 1, 3],[0, 2, 3]]

In [ ]:
# we can slice by rows or columns
col_1 = df.iloc[:, 0] # first column
row_1 = df.iloc[0, :] # first row

print('\nColumn 1:\n', col_1.values)
print('\nRow 1:\n', row_1.values)

In [ ]:
# again, getting fast access to a scalar
df.iat[0, 0]

###### Boolean indexing

In [ ]:
days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
weeks = np.array([str(2000 + x) for x in range(10)])

# average car crashes by day of week per year (random)
data = np.floor(np.abs(10*np.random.randn(10, 7)))

df = pd.DataFrame(data, index=weeks, columns=days)

# Select all years where average # crashes on Sundays > 10   
print(df[df['Sun'] > 5])

In [ ]:
df

###### Setting

In [ ]:
# use df.loc[] to set by row or column name

# set first column all to 0's
df.loc[:, ['Sun']] = np.zeros((10, 1))

# set first row all to 1's
df.loc['2000', :] = np.ones((1, 7))

In [ ]:
df

In [ ]:
# use df.iloc[] to set by row or column index

# set first column to all 1's
df.iloc[:, 0] = np.ones((10, 1))

# set first row to all 0's
df.iloc[0, :] = np.zeros((1, 7))

In [ ]:
df

### Missing data

In [ ]:
# set some missing values
df.iloc[0, 0] = float('nan')
df.iloc[1, 2] = float('nan')
df.iloc[2, 0] = float('nan')
df.iloc[3, 5] = float('nan')
df.iloc[9, 3] = float('nan')

In [ ]:
df

In [ ]:
# we can drop rows that have missing data using dropna(how='any')
#df.dropna(how='any')

In [ ]:
# fill missing data (returns a COPY of df)

df_copy = df.fillna(value=1.0)

In [ ]:
df_copy

In [ ]:
# get boolean mask of missing values: True--NaN, False--Otherwise
bool_mask = pd.isna(df)

In [ ]:
bool_mask

### Operations

In general, operations on Panda data frames EXCLUDE missing data

###### Stats

In [ ]:
df.describe()

In [ ]:
df.mean()

###### Apply

In [ ]:
# we can apply functions to all the data in the data frame
df = df.apply(np.sqrt)
df

###### Histrogramming

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s.value_counts()

###### String methods

In [ ]:
s = pd.Series(['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'])
print(s, end='\n\n')
print(s.str.lower())

### Merge

###### Concat

In [ ]:
df = pd.DataFrame(np.random.randn(3, 5))
print('Original:\n\n', df, end='\n\n')
pieces = [df[0:1], df[1:2], df[2:3]]
print('Pieces:\n\n', pieces, end='\n\n')
concat = pd.concat(pieces)
print('Concatenation:\n\n', concat)

###### Append

In [ ]:
df = pd.DataFrame(np.ones((3, 3)), columns=list('ABC'))
new_row = pd.DataFrame(np.zeros((1, 3)), columns=list('ABC'))

# append new row
df = df.append(new_row, ignore_index=True)

# append new column
new_col = pd.DataFrame(np.zeros((4, 1)))

df['D'] = new_col

df

### Grouping

In [ ]:
# applying a function to a group of data in df
df.groupby('A').sum()

### Reshaping

###### Pivot tables

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3, 
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2, 
                   'D' : np.random.randn(12), 'E' : np.random.randn(12)})

piv_table = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])
piv_table

### Categoricals

In [ ]:
df = pd.DataFrame({'students':['Mark', 'John', 'Mary', 'Susan'], 
                   'grades':['C+', 'A', 'B-', 'A-']})

df

In [ ]:
df['students']

In [ ]:
df['curved grade'] = ['B-', 'A', 'B', 'A']
df

In [ ]:
df['raw grades'] = df['grades'].astype("category")
df['raw grades']

In [ ]:
# we can rename the categories inplace by using cat.categories
df['raw grades'].cat.categories = ['excellent', 'very good', 'good', 'okay']
df['raw grades']

In [ ]:
df.sort_values(by='grades')

### Getting data in/out

###### CSV

In [ ]:
# writing to a csv file
df.to_csv('class.csv')

In [ ]:
# reading from a csv file
pd.read_csv('class.csv')

###### Excel

In [ ]:
# writing to an excel file
# NOTE: need openpyxl module for this operation
#df.to_excel('foo.xlsx', sheet_name='Sheet1')